{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block main %}
<h1>User Login</h1>
{% if session['user_id'] %}
<p>You are already logged in! If you would like to log in as another user, please log out first.</p>
{% else %}
<form method="post">
        <p>Welcome back! Please provide valid credentials to access additional tools.</p>
        <input class="medium-field" name="username" placeholder="Username" required>
        <input class="medium-field" name="password" placeholder="Password" type="password" required>
        <button>Log In</button>
        <small>If you do not have credentials or have forgotten your username or password, please contact a system administrator.</small>
</form>
{% endif %}
{% endblock %}
