{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block main %}
<section>
	{% if session['user_id'] %}
	<p>You are already logged in! If you would like to log in as another user, please log out first.</p>
	{% else %}
	<p>
	Welcome back! Please provide valid credentials to access additional tools.<br>
	<small>If you do not have credentials or have forgotten your username or password, please contact a system administrator.</small>
	</p>
	<form method="post">
		<fieldset>
			<div class="field-group">
				<label for="username">User Name</label>
				<input class="text" name="username" required>
			</div>
			<div class="field-group">
				<label for="password">Password</label>
				<input class="text" name="password" type="password" required>
			</div>
		</fieldset>
		<div class="buttons-container">
			<input class="button" type="submit" value="Log In">
		</div>

	</form>
	{% endif %}
</section>
{% endblock %}
