{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block main %}
{% if format == 'device' %}
<h2>Create New Device</h2>
<form action="{{ url_for('device.create') }}" method="post" class="twocol">
	<label for="name">Name</label>
	<input name="name" type="text" required>
	<label for="description">Description</label>
	<input name="description" type="text" required>
	<button>Create</button>
</form>
{% elif format == 'test' %}
<h2>Create New Test</h2>
<form action="{{ url_for('test.create') }}"method="post" class="twocol">
	<label for="device_id">Device</label>
	<select name="device_id" required>
		{% for device in devices %}
		<option value={{ device.id }}>{{ device.name }}</option>
		{% endfor %}
	</select>
	<label for="name">Name</label>
	<input name="name" type="text" required>
	<label for="description">Description</label>
	<input name="description" type="text" required>
	<button>Create</button>
</form>
{% elif format == 'task' %}
<h2>Create New Task</h2>
<form action="{{ url_for('task.create') }}" method="post" class="twocol">
	<label for="test_id">Device</label>
	<select name="test_id" required>
		{% for test in tests %}
		<option value={{ test.id }}>{{ test.name }}</option>
		{% endfor %}
	</select>
	<label for="name">Name</label>
	<input name="name" type="text" required>
	<label for="command">Command</label>
	<input name="command" type="text" required>
	<button>Create</button>
</form>
{% endif %}
{% endblock %}
